.autocomplete {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input {
    position: absolute;
    height: 30px;
    width: 500px;
}

.suggestion {
    margin-top: 40px;
    position: relative;
    max-height: 250px;
    overflow-y: auto;
    background-color: #e5e7eb;
    padding: 4px 10px 2px 10px;
    width: 480px;
    z-index: 9999;
    cursor: pointer;
}

.option {
    border-bottom: 1px solid white;
}