#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  /* text-align: center; */
}

.text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
}

.header:hover {
  background: #8c8c8c !important;
}

.text-align {
  text-align: center;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

.font-weight-bold {
  font-weight: bold;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.story-loader {
  position: absolute;
  top: -6px;
  left: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-radius: 50%;
  border: 3px solid green;
  border-color: green transparent transparent green;
  animation: spin 1s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}