#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  /* text-align: center; */
}

.text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
}

.header:hover {
  background: #8c8c8c !important;
}

.text-align {
  text-align: center;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

.font-weight-bold {
  font-weight: bold;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
